.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
	border-left-color: #009CFF !important;
}

.iCresp-Logo-sidebar {
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;
}

.iCresp-Logo-sidebar-mini {
	width: 80%;
	margin: 10%;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
	height: 55px !important;
}

.skin-black .main-header > .logo {
	height: 55px !important;
}

.alt-dropdown {
	height: 130px !important;
	width: 170px !important;
}

.alt-dropdown-settings {
	height: 205px !important;
	width: 170px !important;
}
.skin-blue .iCresp-sidebar-menu > li:hover > a, .skin-blue .iCresp-sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.skin-blue .iCresp-sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.iCresp-sidebar-menu li > a {
    position: relative;
}


.iCresp-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iCresp-sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.iCresp-sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.iCresp-sidebar-menu > li > a > .fa,
.iCresp-sidebar-menu > li > a > .glyphicon,
.iCresp-sidebar-menu > li > a > .ion {
  width: 20px;
}
.iCresp-sidebar-menu > li .label,
.iCresp-sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px;
}
.iCresp-sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.iCresp-sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}
.iCresp-sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.iCresp-sidebar-menu li.active > .treeview-menu {
  display: block;
}

.iCresp-sidebar-menu,
.iCresp-main-sidebar .user-panel,
.iCresp-sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}

.iCresp-sidebar-menu:hover {
  overflow: visible;
}

.iCresp-sidebar-form,
.iCresp-sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}

.iCresp-sidebar-menu li > a {
  position: relative;
}

.iCresp-sidebar-menu li > a > .pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
}

.iCresp-sidebar {
	background-color: #222d32;
	position: absolute;
	right: 0px;
	color: #fff;
	width: 50px;
	padding: 1px 1px;
	top: 100px;

	transition: width 0.5s;

	-webkit-animation: slideInRight 1s forwards;
	-moz-animation:    slideInRight 1s forwards;
	-o-animation:      slideInRight 1s forwards;
	animation:         slideInRight 1s forwards;
}

.iCresp-sidebar .menu-content {
	margin-left: 10px;
	opacity: 0;

	transition: opacity 0.5s;
}

.iCresp-sidebar:hover {
	width: 175px;
}

.iCresp-sidebar:hover .menu-content {
	opacity: 1;
}

.dashboardCard {
	cursor: pointer;
}
.dashboardCard.first {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards; /* Opera 12+ */
	animation:         bounceIn 1s forwards;
}

.dashboardCard.second {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.1s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.1s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.1s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.1s;
}

.dashboardCard.third {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.2s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.2s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.2s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.2s;
}

.dashboardCard.four {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.3s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.3s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.3s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.3s;
}

.dashboardCard.five {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.4s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.4s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.4s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.4s;
}

.dashboardCard.six {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.5s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.5s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.5s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.5s;
}

.dashboardCard.seven {
	opacity: 0;
	-webkit-animation: bounceIn 1s forwards 0.6s; /* Safari 4+ */
	-moz-animation:    bounceIn 1s forwards 0.6s; /* Fx 5+ */
	-o-animation:      bounceIn 1s forwards 0.6s; /* Opera 12+ */
	animation:         bounceIn 1s forwards 0.6s;
}


@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
