/* ------------------------- COMMON CSS -------------------------- */


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #000 !important;
}
::-moz-placeholder { /* Firefox 19+ */
color: #000 !important;
}
:-ms-input-placeholder { /* IE 10+ */
color: #000 !important;
}
:-moz-placeholder { /* Firefox 18- */
color: #000 !important;
}
.mr-tp-50 {
margin-top: 50px !important;
}
.mr-tp-25 {
margin-top: 25px !important;
}
.border_table {
border: 1px solid #dadada;
}
.pd-tp-15 {
padding-top: 15px !important;
}
.brdr_non {
border: none !important;
border-radius: 2px !important;
}
.pd-tp-10 {
padding-top: 10px !important;
}
.tp_btm_spc {
margin-bottom: 10px;
margin-top: 10px;
padding-left: 28px;
padding-right: 27px;
}
.tp_mrg_rght {
margin-top: 10px;
}
.crcl_dwn {
padding-left: 5%;
padding-top: 0 !important;
}
.tab_mdl_clr {
color: #005082;
}
.color_palete {
background-color: #e3e323;
padding: 19px;
}
.btn_detls_btm {
border: none !important;
margin-bottom: 4%;
border-radius: 2px !important;
background-color: #3389c0 !important;
}
.modal_color {
color: #005082;
padding-top: 3%;
cursor: pointer;
}
.pd-tp-5 {
padding-top: 5px !important;
}
.pd-lt-10 {
padding-left: 10px !important;
}
.pd-lt-25 {
padding-left: 25px !important;
}
.no-boder {
border: 0px solid #d2d6de !important;
}
.boder-left {
border-left: 1px solid #f4f4f4 !important;
}
.no-padding {
padding: 0px !important;
}
.boder {
border: 2px solid #d2d6de;
/*padding: 10px;*/
}
.tx-al-lf {
text-align: left !important;
}
.wht-sp-nowp {
white-space: nowrap !important;
}
.line {
border-bottom: 1px dashed #ccc;
margin: 2px 0px 10px 0px;
}
.blue-bg {
background-color: #0e3d58;
color: #FFF !important;
white-space: nowrap;
}
.blue-col {
color: #005082 !important;
}
.plus-btn {
color: #005082;
margin-top: 3px;
}
.total-amt {
color: #8e0707 !important;
font-weight: 600 !important;
font-size: 18px !important;
text-transform: uppercase !important;
padding-left: 4%;
}
.tp_6px {
margin-top: 6px;
}
.blue-col {
color: #3b8dbc !important;
}

.save {
color: #FFF !important;
background-color: #008d4c !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.save:hover {
background-color: #006034 !important;
}
.cls {
color: #FFF !important;
background-color: #4d4d4d !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.cls:hover {
background-color: #000 !important;
}
.finish {
color: #FFF !important;
background-color: #c36204 !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.finish:hover {
color: #FFF !important;
background-color: #814001 !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.cleared {
color: #23a40a !important;
}
.pending {
color: #F00 !important;
}
.save_dbl {
color: #FFF !important;
background-color: #c2d5b8 !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.print {
color: #FFF !important;
background-color: #13689e !important;
padding: 5px 20px !important;
border: 0px solid #FFF !important;
border-radius: 3px !important;
transition: all ease .5s;
}
.print:hover {
background-color: #023a5e !important;
}
.wth-100 {
width: 100px !important;
}
.mar-lft-20 {
margin-left: 20px !important;
}
.mar-btm-0 {
margin-bottom: 0px !important;
}
.fnt-awsm-btn {
color: #005082 !important;
padding: 3px 0px 0px 0px;
}
.fnt-awsm-btn-wht {
color: #FFF !important;
padding: 3px 0px 0px 4px;
}
.grey-clr {
color: #333 !important;
}
.txt-aln-cen {
text-align: center !important;
}
.txt-aln-lft {
text-align: left !important;
}
.mar-tp-30 {
margin-top: 30px !important;
}
.colr-rd {
color: #F00 !important;
font-weight: bold !important
}
/* --------------------------------------------------------------- */
.administration {
background-color: #FFF;
padding: 6% 0% 0% 0%;
transition: all ease 0.5s;
-webkit-box-shadow: 0px -1px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 9px -3px rgba(0,0,0,0.75);
box-shadow: 0px -1px 9px -3px rgba(0,0,0,0.75);
}
.administration:hover {
-webkit-box-shadow: 0px -1px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 17px -3px rgba(0,0,0,0.75);
box-shadow: 0px -1px 17px -3px rgba(0,0,0,0.75);
}
.adm-user {
padding: 5% 0% 3% 0%;
}
.adm-cap {
text-transform: uppercase;
color: #333;
border-top: 1px solid #CCC;
padding: 2% 0% 2% 0%;
background-color: #f5f5f5;
margin: 0px;
}
.adm-cap1 {
background-color: #ce095c !important;
color: #FFF !important;
}
.adm-cap0 {
background-color: #68ae00 !important;
color: #FFF !important;
}
.adm-cap2 {
background-color: #5f0954;
color: #FFF !important;
}
.adm-cap2 a {
color: #FFF !important;
}
.adm-cap3 {
background-color: #ff8a00;
color: #FFF !important;
}
.val {
margin: 0px;
padding: 1px 0px;
}
.mar_btm {
margin-bottom: 30px;
transition: all ease .5s !important;
}
.row-wrap {
margin-left: 25.66%;
}
/* ------------------------- RIGHT NAV -------------------------- */

.right-nav {
margin: 15px 0px 0px 0px;
}
.right-nav ul {
margin: 0px;
padding: 0px;
}
.right-nav ul li {
list-style-type: none;
padding: 5px 0px 2px 5px;
border-left: 3px solid #005285;
margin-bottom: 3px;
}
.right-nav ul li a {
color: #FFF !important;
}
.right-nav ul li a:hover {
color: #d6d6d6 !important;
}
/* ------------------------------------------------- */
.plan-img {
max-width: 250px;
max-height: 50px;
overflow: hidden;
}
/* carousel */
.media-carousel {
margin-bottom: 0;
padding: 0px 40px 0px 40px;
margin-top: 15px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
left: -12px;
background-image: none;
background: none repeat scroll 0 0 #222222;
border: 4px solid #FFFFFF;
border-radius: 23px 23px 23px 23px;
height: 40px;
width : 40px;
margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right {
right: -12px !important;
background-image: none;
background: none repeat scroll 0 0 #222222;
border: 4px solid #FFFFFF;
border-radius: 23px 23px 23px 23px;
height: 40px;
width : 40px;
margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
right: 50%;
top: auto;
bottom: 0px;
margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
background: #c0c0c0;
}
.media-carousel .carousel-indicators .active {
background: #333333;
}
.media-carousel img {
width: 250px;
height: 100px
}
/* End carousel */


.prnt_btn {
border: none !important;
border-radius: 3px !important;
}
.lb-chck {
float: left;
}
.width-80 {
width: 80% !important;
/*	position: relative !important;
min-height: 1px !important;
padding-right: 15px !important;
padding-left: 15px !important;*/
float: left !important;
}
.width-70 {
width: 70% !important;
}
.xs_tp {
margin-top: 24px;
}
.width-40 {
width: 40% !important;
}
.wdth-3 {
width: 3% !important;
float: left !important;
padding: 0px 0px 0px 9px;
}
.width-6 {
width: 6% !important;
}
.width-10 {
width: 10% !important;
}
.width-50 {
width: 50% !important;
}
.arow_z {
}
.label_color {
color: #005082;
font-weight: bold;
font-size: 18px;
text-transform: uppercase;
padding-left: 9%;
white-space: nowrap;
padding-bottom: 5%;
}
.tab_scroll {
max-height: 450px;
overflow: visible;
}
.t_bld {
color: black;
font-weight: 700;
}
.est_dat {
padding-left: 0%;
}
.radio_groups {
margin-left: 22px;
}
.top_pddng_px {
margin-top: 15px;
}
.rigt_arow {
padding-left: 23%;
color: #005082;
}
.mrg_lft {
margin-left: 32%;
}
/*.uplod_area {
margin-top: 14% !important;
}
*/
.pd-mar {
padding-left: 25px !important;
padding-top: 15px !important;
}
.label_fr_plan {
padding-top: 6%;
font-weight: 900;
}
#ck-button label {
float: left;
width: 2.0em;
}
#ck-button label span {
text-align: center;
padding: 3px 0px;
display: block;
}
#ck-button label input {
position: absolute;
top: -20px;
display: none !important;
margin-bottom: 0px !important;
}
#ck-button input:checked + span {
padding: 9px 0px 9px 0px !important;
background-color: #008314;
color: #fff;
}
#ck-button1 label {
float: left;
width: 2.0em;
}
#ck-button1 label span {
text-align: center;
padding: 3px 0px;
display: block;
}
#ck-button1 label input {
position: absolute;
top: -20px;
display: none !important;
margin-bottom: 0px !important;
}
#ck-button1 input:checked + span {
padding: 9px 0px 9px 0px !important;
background-color: #C00;
color: #fff;
}
#ck-button2 label {
float: left;
width: 2.0em;
}
#ck-button2 label span {
text-align: center;
padding: 3px 0px;
display: block;
}
#ck-button2 label input {
position: absolute;
top: -20px;
display: none !important;
margin-bottom: 0px !important;
}
#ck-button2 input:checked + span {
padding: 9px 0px 9px 0px !important;
background-color: #e58700;
color: #fff;
}
.no-margin > label {
margin-bottom: 0px !important;
}
#tick-field > .input-group > .active {
background-color: #008314 !important;
color: #FFF;
}
#tick-field2 > .input-group > .active {
background-color: #C00 !important;
color: #FFF;
}
.nav-tabs-custom {
box-shadow: 0 0px 0px rgba(0,0,0,0.1)!important;
}
.nav-tabs-custom > .nav-tabs > li.active {
border-color: #3c8dbc!important;
}
.nav-tabs-custom > .nav-tabs > li {
border-top: 3px solid transparent!important;
border-bottom: 3px solid transparent!important;
}
.nav-tabs-custom > .nav-tabs > li {
background-color: #e4f5ff!important;
}
/* --------------------------------- FOR ADMINISTRATION PAGE ----------------------------------- */

.mar_btm {
margin-bottom: 30px;
transition: all ease .5s !important;
}
.bg-a {
background-color: #1caf9a !important;
color: #FFF !important;
}
.bg-b {
background-color: #d9534f !important;
color: #FFF !important;
}
.bg-c {
background-color: #428bca !important;
color: #FFF !important;
}
.bg-d {
background-color: #1d2939 !important;
color: #FFF !important;
}
.bg-e {
background-color: #68ae00 !important;
color: #FFF !important;
}
.bg-f {
background-color: #fc8213 !important;
color: #FFF !important;
}
.bg-g {
background-color: #347ab8 !important;
color: #FFF !important;
}
.bg-h {
background-color: #99a552 !important;
color: #FFF !important;
}
.bg-i {
background-color: #a75757 !important;
color: #FFF !important;
}
.info-box-text {
font-size: 16px !important;
font-weight: 700 !important;
color: #656075 !important;
margin-top: 28px;
}
/* --------------------------------- FOR estimationlistview.html ----------------------------------- */


.updd {
margin: 5px 0px;
}
.upddp {
color: #860d0d;
font-weight: 700;
}
/*--------------------------------------------------------*/

.user_add_btn {
background-color: #186721;
padding-left: 12px;
padding-right: 12px;
padding-top: 4px;
padding-bottom: 4px;
border: none;
color: white;
border-radius: 3px !important;
}
/*.box.box-primary {
border-top-color: #d8d8d8 !important;
}*/



.padding_left {
padding-left: 15px !important;
}
.total_amount {
color: #a52130;
font-weight: 600;
font-size: 17px;
}
.txt_BLD {
font-weight: 800;
font-size: 15px;
color: rgb(78, 78, 78);
}
/*--------------------------------------------------------*/


/*=========================DASHBOARD INNER==============================*/


.bg_in_a {
color: white;
background-color: #a54f65 !important;
}
.bg_in_b {
color: white;
background-color: #865981 !important;
}
.bg_in_c {
color: white;
background-color: #7b5f38 !important;
}
.bg_in_d {
color: white;
background-color: #385a77 !important;
}
.bg_in_e {
color: white;
background-color: #419054 !important;
}
.btn_radious {
border-radius: 3px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
display: block !important;
position: absolute !important;
width: 220px !important;
left: 50px !important;
}
.lft_pad {
padding-left: 6px;
padding-bottom: 24px;
}
.lft_pad_2 {
padding-left: 19px;
}
/* ---------------------------------- MEDIA QUARY FOR MOBILE ------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.row-wrap {
margin-left: 0%;
}
.table_xs_marg {
margin-top: 21px;
}
.xs_tp {
margin-top: 24px;
}
}
/* ---------------------------------- MEDIA QUARY FOR TAB ------------------------------------*/

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
.row-wrap {
margin-left: 0%;
}
}
.tbl_ftr_lst {
margin-top: 2%;
}
/*-------------------------------------------- CSS ON 26 MAY 2017 -------------------------------------------- */

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
position: static !important;
}
/* Remove controls from Firefox */
input[type=number] {
-moz-appearance: textfield !important;
}
table.dataTable.table-condensed thead .sorting:after, table.dataTable.table-condensed thead .sorting_asc:after, table.dataTable.table-condensed thead .sorting_desc:after{
display: none !important;
}