.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
	background: #232744;
}
body table th {
	font-weight: 100 !important;
}
.Content_Bg {
	background-color: #f1f1f1 !important;
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
	width: 200px;
	font-weight: bold;
}
.mega-dropdown {
	position: static !important;
	width: 100%;
}
.mega-dropdown-menu {
	padding: 20px 0px;
	width: 70%;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #252525;
	color: white;
}
.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}
.mega-dropdown-menu > li > ul > li {
	list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
	display: block;
	padding: 7px 2px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571;
	color: #d6d6d6;
	white-space: nowrap;
	font-size: 13px;
}
.row_right_Style {
	width: 916px !important;
}
.row_right_Style ul {
	margin-top: 8px !important;
	margin-bottom: 23px !important;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	border-radius: 3px !important;
	padding-left: 10px;
	transition: ease all 0.9s;
}
.dropdown-menu {
	box-shadow: none;
	border-color: #eee0 !important;
}
.mega-dropdown-menu .dropdown-header {
	color: #ffffff;
	font-size: 17px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.nav_lft_mrgn {
	margin-left: 33px;
	padding-top: 0px;
}
.mega-dropdown-menu form {
	margin: 3px 20px;
}
.skin-black .main-header .navbar {
	background-color: #393a3d;
}
.bdr_drop_right{
	border-right: 1px solid #4a4a4a;
}
.sale_bdr{
	height: 140px !important;
}
.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}
.Bdr_For_Menu_Items {
	border-right: 1px solid #3e3e3e;
	min-height: 350px;
}
.skin-black .main-header .navbar .navbar-nav>li>a {
	border-right: 1px solid #a5242400;
	background-color: #393a3d;
	color: white;
	letter-spacing: 0.5px;
	font-size: 13px;
}
skin-black .main-header .navbar .navbar-nav>li>a:focus{
	background-color: #f00 !important;
}
.skin-black .main-header .navbar .navbar-nav>li>a:hover{
	background-color: #f00 !important;
	color: white;
}
.skin-black .main-header > .logo {
	background-color: #393a3d;
	color: #ffffff;
	border-bottom: 0 solid transparent;
	border-right: 1px solid #eee;
}
.background_color_change {
	width: 100%;
	background-color: #f1f1f1;
}
.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black .main-header .navbar .navbar-right > li > a {
	border: 1px solid #484848 !important;
	height: 55px !important;
}
.skin-black .main-header .navbar .nav > li > a:hover, .skin-black .main-header .navbar .nav > li > a:active, .skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav > .active > a {
	background: #bf6a1b !important;
	color: #ffffff;
}
.box-title-1 {
	margin: 0px;
	letter-spacing: 0.5px;
}
.chev_rght_pdng {
	padding-left: 2px;
	padding-top: 4px;
	color: #ffffff;
}
.box.box-primary {
	border-top-color: #c5c5c5 !important;
}
.box {
	position: relative;
	border-radius: 0px !important;
	background: #ffffff;
	border: 1px solid #c5c5c5 !important;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.main-header {
	position: fixed !important;
	max-height: 100px;
	z-index: 1030;
	width: 100% !important;
}
.content-header {
	position: relative;
	padding: 66px 10px 0px 15px !important;
}
.menu_for_inventory{
	width: 10% !important;
}
.dropdown-header {
	display: block;
	padding: 3px 1px !important;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap;
}
.menu_for_inventory > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_sale > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_sale {
	width: 30% !important;
	margin-left: 8%;
}
.menu_for_purchase {
	width: 13% !important;
	margin-left: 14%;
}
.menu_for_purchase > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_finance {
	width: 39% !important;
	margin-left: 28%;
}
.menu_for_finance > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_admin {
	width: 12% !important;
	margin-left: 50%;
}
.menu_for_admin > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_staff {
	width: 30% !important;
	margin-left: 44%;
}
.menu_for_staff > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.menu_for_plus {
	width: 394px !important;
}
.menu_for_plus > li ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #bf6a1b;
	padding-left: 15px;
	padding-right: 120px;
	border-radius: 3px !important;
}
.mega-dropdown-menu .drop_down_list {
	padding-left: 10px;
}
.style_for_drop {
	font-size: 15px !important;
	padding-left: 2px !important;
	text-transform: capitalize !important;
}
@media (min-width: 992px) {
	.col-md-1-5 { width: 20%; }
	.col-md-2-5 { width: 40%; }
	.col-md-3-5 { width: 60%; }
	.col-md-4-5 { width: 80%; }
	.col-md-5-5 { width: 100%; }
}
@media (min-width: 1200px) {
	.col-lg-1-5 { width: 20%; }
	.col-lg-2-5 { width: 40%; }
	.col-lg-3-5 { width: 60%; }
	.col-lg-4-5 { width: 80%; }
	.col-lg-5-5 { width: 100%; }
}
.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	text-align: center;
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}
.head_left_padg{
	padding-left: 24px;
}
.col_10{
	width: 18% !important;
}
.menu_for_Report {
	width: 81%;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	position: absolute;
	right: 0;
	left: auto;
	border-top: 1px solid #4c4c4c !important;
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 0px !important;
	border-top: 1px solid #4c4c4c !important;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px !important;
	height: 34px !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: 79px !important;
	text-align: center;
	padding-top: 18px !important;
	border: 1px solid #c3c3c3;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
	background-color: #585858 !important;
	padding: 10px;
}
.pass_change {
	background-color: #393a3d !important;
	color: white !important;
	border: 1px solid #696969 !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
	z-index: 5 !important;
	height: auto !important;
	width: 44% !important;
	border: 1px solid #f1f1f100 !important;
	border-color: rgba(255,255,255,0.2);
}
.i_home_color {
	color: #ff8819;
	padding-top: 19px !important;
}
.cstm_header_nav_top ul li a {
	color: #fff !important;
	padding-top: 20px;
}
.aset_fixed_style a {
	color: #ffffff !important;
	font-weight: bold !important;
	letter-spacing: 0.5px;
	font-size: 15px !important;
}
.spc_for_sub_head {
	padding-left: 21px !important;
}
.Asset_Drop a {
	color: #ffffff !important;
	font-size: 15px !important;
	letter-spacing: 0.5px;
}
.Main_Drop_Head {
	text-transform: uppercase;
	letter-spacing: 0.6px;
	border-bottom: 1px solid #4a4a4a;
	padding-bottom: 14px;
	margin: 0px;
	padding-top: 13px;
	font-size: 25px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: #333;
	margin-top: 11px !important;
	margin-left: 14px !important;
}
table > th 
{
	font-weight: 100;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: #333;
	margin-right: 15px !important;
}
.Sub_Item_Padng{
	padding-left: 16px;
}
.Main_Head_Color{
	color: #44c77f !important;
}
table.dataTable thead th, table.dataTable thead td {
	padding: 10px 18px;
	border-bottom: 1px solid #111;
	font-weight: 100 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #393a3d !important;
	border-color: #393a3d !important;
}

/*=================================================SALE======================================================*/

.Sale_Modal_Style {
	background-color: #efefef;
	padding: 22px;
}
.Advanced_Stng a {
	background-color: #006b94;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px !important;
}
.Advanced_Stng a:hover{
	transition: ease all 0.9s;
	background-color: #05445d !important;
	color: white;
}
.Advanced_Stng{
	margin-bottom: 30px;
}
.Advanced_Stng a:focus{
	background-color: #006b94 !important;
	color: white;
}
.col_blue_pdng {
	padding-top: 28px;
}
.form-group-btm-spc{
	margin-bottom: 15px;
}
.modal_round_mrgn{
	margin-top: 8px;
}

/*=======================================================================================================*/
