/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */

/* Switchery defaults. */

.switchery {
  background-color: #fff !important;
  border: 1px solid #dfdfdf !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  display: inline-block !important;
  height: 30px !important;
  position: relative !important;
  vertical-align: middle !important;
  width: 50px !important;

  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  box-sizing: content-box !important;
  background-clip: content-box !important;
}

.switchery > small {
  background: #fff !important;
  border-radius: 100% !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
  height: 30px !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px !important;
  height: 20px !important;
  width: 33px !important;
}

.switchery-small > small {
  height: 20px !important;
  width: 20px !important;
}

.switchery-large {
  border-radius: 40px !important;
  height: 40px !important;
  width: 66px !important;
}

.switchery-large > small {
  height: 40px !important;
  width: 40px !important;
}
