<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>

<section class="content-header">
  <h1>All Route Sales Report</h1>
</section>
<section class="content">
  <div class="row">
    <div class="box">
      <div class="col-md-12">
        <div class="row">
          <br>
          <div class="col-md-3">
          <div class="col-md-12">
            <?= $this->Form->input('route_id',array('id'=>'route_id','style'=>'width:100%','class'=>'form-control select_two_class customer_get_class','empty'=>'ALL')); ?>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <?= $this->Form->input('from_date',array('type'=>'text', 'id'=>'from_date', 'class'=>'form-control search_field date_picker datepicker', 'data-inputmask'=>"'alias': 'dd-mm-yyyy'",'data-mask'=>'data-mask', )); ?>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <?= $this->Form->input('to_date',array('type'=>'text', 'id'=>'to_date', 'class'=>'form-control  search_field date_picker datepicker', 'data-inputmask'=>"'alias': 'dd-mm-yyyy'",'data-mask'=>'data-mask', )); ?>
          </div>
        </div>
        <div class="col-md-2"><br>
          <button class='btn btn-success' type='button' id='fetch_button'>Get</button>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="col-md-4 col-xs-12">
        <h3 class="muted "></h3>
      </div>
      <table id='table_route_sale' style="width: 100% !important" class="table table-hover boder table-bordered"  data-order='[[ 0, "desc" ]]'>
        <thead>
          <tr class="blue-bg">
            <th>Route</th>
            <th>Net Amount</th>
            <th>Taxable Value</th>
            <th>Tax Amount</th>
            <th>Discount Amount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
           <tr>
            <th colspan="1" style="font-size:20px; color:red;text-align:right">Total:</th>
            <th style="font-size:20px; color:red;text-align:right"></th>
             <th style="font-size:20px; color:red;text-align:right"></th>
              <th style="font-size:20px; color:red;text-align:right"></th>
            <th style="font-size:20px; color:red;text-align:right"></th>
             <th style="font-size:20px; color:red;text-align:right"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</section>
<script type="text/javascript">
 $('#table_route_sale').DataTable( {
  "processing": true,
  "serverSide": true,
  "ajax": {
    "url": "<?= $this->webroot ?>Reports/RouteReportAjax",
    "type": "POST",
    data:function( d ) {
      d.from_date= $('#from_date').val();
      d.to_date= $('#to_date').val();
       d.route_id=$('#route_id').val();
      },
      "dataSrc": "records",
    },
      dom: 'Bfrtip',
    lengthMenu: [
   [10, 50,100,200],
    ['10 rows', '50 rows','100 rows','200 rows' ]
    ],
    buttons: [
    { extend: 'colvis', },
    { extend: 'excel', title: 'Route Wise Sales Report', exportOptions: { columns: ':visible' } }, 
   // { extend: 'csv',   title: 'Bill Wise Report', exportOptions: { columns: ':visible' } },
    'pageLength',
    ],
    "columns": [
    { "data" : "Route.name" },
    { "data" : "Sale.net_value" ,className:"text-right"},
    { "data" : "Sale.taxable_amount" ,className:"text-right"},
    { "data" : "Sale.tax_amount" ,className:"text-right"},
    { "data" : "Sale.discount_amount" ,className:"text-right"},
    { "data" : "Sale.grand_total" ,className:"text-right"},
    ],
   "footerCallback": function ( row, data, start, end, display ) {
      var api = this.api(), data;
      var intVal = function ( i ) {
        return typeof i === 'string' ?
        i.replace(/[\$,]/g, '')*1 :
        typeof i === 'number' ?
        i : 0;
      };
       pageTotal = api.column( 1, { page: 'current'} ).data().reduce( function (a, b) {
        return intVal(a) + intVal(b);
      }, 0 );
      $( api.column( 1 ).footer() ).html(''+parseFloat(pageTotal).toFixed(2)+'');
       pageTotal = api.column( 2, { page: 'current'} ).data().reduce( function (a, b) {
        return intVal(a) + intVal(b);
      }, 0 );
      $( api.column( 2 ).footer() ).html(''+parseFloat(pageTotal).toFixed(2)+'');
      pageTotal = api.column( 3, { page: 'current'} ).data().reduce( function (a, b) {
        return intVal(a) + intVal(b);
      }, 0 );
      $( api.column( 3 ).footer() ).html(''+parseFloat(pageTotal).toFixed(2)+'');
      pageTotal = api.column( 4, { page: 'current'} ).data().reduce( function (a, b) {
        return intVal(a) + intVal(b);
      }, 0 );
      $( api.column( 4 ).footer() ).html(''+parseFloat(pageTotal).toFixed(2)+'');
      pageTotal = api.column( 5, { page: 'current'} ).data().reduce( function (a, b) {
        return intVal(a) + intVal(b);
      }, 0 );
      $( api.column( 5 ).footer() ).html(''+parseFloat(pageTotal).toFixed(2)+'');
    },
    "columnDefs": [],
  });
$('#fetch_button').click(function(){
  table = $('#table_route_sale').dataTable();
  table.fnDraw();
});
</script>
