.type_one {
  padding-left: 31%;
  padding-top: 5%;
}
.type-modal {
  color: #337ab7;
}
.td_leted {
  margin-left: -534%;
}
.type_trash_btn {
  margin-left: -756% !important;
}
.modal-footer {
  border-top-color: #ffffff !important;
}
.type_save {
  margin-top: -6%;
}
.no_left {
  margin-left: -154%;
}
/*.pro_type_edit {
padding-left: 30%;
margin-left: -130%;
}
.pro_type_trash {
padding-left: 38%;
margin-left: -267% !important;
}*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .type_one {
    padding-left: 0% !important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .type_one {
    padding-left: 0% !important;
  }
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  /*animation-delay: 0.1s;*/
  animation-duration: 2s;
  background-color:red;
}